.contact {
    background: #dbeaf7;
    padding: 64px 16px 88px;
}
@media (min-width: 960px) {
    .contact {
        padding-top: 80px;
   }
}
.contact__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}
@media (min-width: 960px) {
    .contact__description {
        font-size: 20px;
        line-height: 40px;
   }
}
.contact__header {
    font-size: 36px;
    line-height: 48px;
    color: #234361;
    text-align: center;
    margin: 0;
}
@media (min-width: 960px) {
    .contact__header {
        font-size: 48px;
        line-height: 56px;
        margin-bottom: 40px;
   }
}
.contact__links {
    text-align: center;
}
@media (min-width: 960px) {
    .contact__links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 580px;
        margin: 128px auto 0;
   }
}
.contact__mail {
    border-radius: 64px;
    color: #fff;
    background: #4da8ff;
    display: inline-block;
    padding: 4px 24px;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
}
