.projects {
    padding: 64px 16px 88px;
}
@media (min-width: 960px) {
    .projects {
        padding: 64px 16px 176px;
   }
}
.projects__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    max-width: 786px;
    margin: 0 auto 46px;
}
@media (min-width: 960px) {
    .projects__description {
        font-size: 20px;
        line-height: 40px;
        margin-bottom: 128px;
   }
}
.projects__header {
    font-size: 36px;
    line-height: 48px;
    color: #234361;
    text-align: center;
    margin: 0 0 40px;
}
@media (min-width: 960px) {
    .projects__header {
        font-size: 48px;
        line-height: 56px;
   }
}
.project {
    background: #212528;
    border-radius: 16px;
    overflow: hidden;
    color: #a3a3a3;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    font-family: Roboto Mono;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
}
@media (min-width: 960px) {
    .project {
        font-size: 16px;
        line-height: 24px;
   }
}
.project__circle {
    display: block;
    width: 8px;
    height: 8px;
    background: #464a4d;
    border-radius: 50%;
    margin-right: 8px;
}
.project__content {
    padding: 24px 16px;
}
@media (min-width: 960px) {
    .project__content {
        padding: 18px 48px 58px;
   }
}
.project__grid {
    display: grid;
    column-gap: 8px;
    margin: 0 0 8px 0;
    grid-template-columns: 102px 1fr;
}
@media (min-width: 960px) {
    .project__grid {
        grid-template-columns: 116px 1fr;
   }
}
.project__grid--description {
    margin-bottom: 24px;
}
.project__label {
    display: block;
    text-align: right;
    color: #808 8;
    font-weight: normal;
}
.project__link {
    color: #14b5d0;
}
.project__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    margin-top: 24px;
}
@media (min-width: 960px) {
    .project__title {
        font-size: 16px;
        line-height: 24px;
   }
}
.project__window {
    height: 40px;
    background: #1e1e1e;
    display: flex;
    align-items: center;
    padding: 0 0 0 16px;
}
.projects-grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
    max-width: 1184px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr;
   }
}
