@import "normalize.css";


@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono:wght@400;700&display=swap");

@import "hero.css";
@import "hello.css";
@import "hand.css";
@import "skills.css";


html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: Nunito;
  color:  #425A70;
}